include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/iauthenfunctions *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/iauthenfunctions/migration *.ini *.py *.mako
